body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.answers button {
  background-color: #f4f4f4;
  border: 1px solid #333;
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}
